{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <h2 class="mb-4">Welcome, {{ user.username }}!</h2>
    </div>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="{% url 'event-list' %}" class="btn btn-primary">View All Events</a>
        <a href="{% url 'subscriptions' %}" class="btn btn-success">My Subscriptions</a>
        <a href="{% url 'profile' %}" class="btn btn-info">Profile</a>

        {% if is_organizer %}
        <a href="{% url 'manage-events' %}" class="btn btn-warning">Manage My Events</a>
        {% endif %}
    </div>

</div>
{% endblock %}